

@media screen and (max-width:500px) {

    .hero-form input{
        width: 100%;
        margin: 0px;
        margin-bottom: 8px;
    }

    .hero-form select {
        width: 100%;
        margin: 8px 0px;
        background-position: 275px 16px;
    }

    .hero-form button{
        width: 100%;
        margin-left: 0px;
        margin-top: 8px;
    }

}