
@media screen and (max-width:992px) {

    nav div:first-child{
        width: 25%;
    }

    nav div:last-child{
        width: 75%;
    }

    .popular-tour-text{
        width: 100%;
    }
    
    .popular-tour-img{
        width: 100%;
        justify-content: left;
        padding-top: 50px;
    }

    .popular-tour-img img{
        width: auto;
        height: 100%;
    }

    .Newsletter-text{
        padding: 25px;
    }

}


@media screen and (max-width:850px)  {

    .discount-1{
        justify-content: center;
    }
    
    .discount-2{
        justify-content: center;
    }

    .Newsletter-text{
        padding: 20px;
    }

}


@media screen and (max-width:767px)  {

    .menu li {
        display: none;
    }

    .icon{
        display: block !important;
        font-size: 25px;
        color: #131318;
    }

    .destination-1 div{
        width: 100% !important;   
    }

    .destination-3 div:first-child{
        width: 100% !important;
    }
    
    .destination-3 div:last-child{
        width: 100% !important;
    }

    .destination-2{
        height: auto;
        grid-template-columns: 100%;
    }

    .destination-2 div:first-child{
        width: calc(100% - 0px)!important;
    }
    
    .destination-2 div:nth-child(2){
        width: calc(100% - 0px)!important;
    }

    .service-div div{
        width: 100% !important;
    }

    .service-div-last{
        width: 100%;
    }

    .discount-box{
        padding: 40px;
    }

    .Testimonial-div > div{
        width: 100% !important;
    }

    .place > div{
        width: 100% !important;
        height: auto;
    }

    .Newsletter-text{
        width: 100% !important;
        margin-bottom: 20px;
    }
    
    .Newsletter-img{
        width: 100% !important;
    }
}


@media screen and (max-width:610px) {
    
    .hero-content h1{
        font-size: 50px;
    }

    .discount-box span{
        display: block;
        padding-bottom: 12px;
    }

    .discount-box h3{
        margin-top: 5px;
    }

    .place-text{
        margin-bottom: 20px;
    }

}



@media screen and (max-width:600px) {

    .section-title h1{
        font-size: 25px;
    }
    
    .section-title p{
        margin: 16px 0px;
        font-size: 15px;
    }

    nav{
        padding: 18px 0px;
    }

    .hero-content h1{
        font-size: 30px;
    }
    
    .hero-content p{
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .hero-form input{
        width: 100%;
        margin: 0px;
        margin-bottom: 8px;
    }

    .hero-form select {
        width: 100%;
        margin: 8px 0px;
        background-position: 95% 16px;
    }

    .hero-form button{
        width: 100%;
        margin-left: 0px;
        margin-top: 8px;
    }

    .popular-tour{
        margin: 25px 0px;
    }

    .popular-tour-text h1{
        font-size: 25px;
    }
    
    .popular-tour-text p, ul li{
        font-size: 15px;
    }

    .popular-tour-img{
        padding-top: 25px;
    }

    .Des div h1{
        font-size:23px;
    }

    .discount-button{
        display: none;
    }

    .service{
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .service-div img{
        width: 55px;
    }

    .service-div div h2{
        font-size: 22px;
    }
    
    .service-div div p{
        font-size: 15px;
    }

    .service-div-last h2{
        font-size: 22px;
    }
    
    .service-div-last p{
        font-size: 15px;
    }

    .discount-1{
        min-height: 550px;
        align-items: end;
    }

    .discount-1{
        padding: 30px !important;
    }

    .discount-box{
        padding: 20px;
    }

    .discount-box{
        padding: 30px;
    }

    .discount-box h3{
        font-size: 22px;
    }
    
    .discount-box p{
        font-size: 15px;
    }
    
    .discount-box h4{
        font-size: 17px;
    }

    .Testimonials{
        margin-top: 25px;
        padding: 30px 30px;
    }

    .Testimonial-title h1{
        font-size: 25px;
    }
    
    .Testimonial-title p{
        font-size: 15px;
    }

        
    .Testimonial-box > p{
        font-size: 15px;
    }

    .place{
        margin: 25px 0px;
    }

    .place-text h1{
        font-size: 25px;
    }
    
    .place-text p{
        font-size: 15px;
    }

    .place-text ul li {
        font-size: 15px;
    }

    .place-img h1{
        font-size: 22px;
    }

    .Newsletter{
        margin-bottom: 25px;
    }

    .Newsletter-img > div{
        width: 250px;
        height: 100px;
        bottom: 40px;
    }

    .Newsletter-img p{
        font-size: 20px;
    }
    
    .Newsletter-img h1{
        font-size: 24px;
    }

    .Newsletter-text h3{
        font-size: 25px;
    }
    
    .Newsletter-text p{
        font-size: 15px;
    }

    footer{
        padding: 33px 20px;
    }

    .footer-line{
        margin: 25px auto;
    }

    .footer-content p{
        font-size: 15px;
    }
    
    footer p{
        font-size: 15px;
    }
     
}


@media screen and (max-width:585px)  {

    .hero-content h1{
        font-size: 45px;
    }

    .popular-tour-img img{
        width: 100%;
        height: 100%;
    }

    .discount-box{
        padding: 35px;
    } 
    
}


@media screen and (max-width:450px) {

    .discount-1{
        padding: 25px !important;
    }

    .discount-box{
        padding: 18px;
    }

}



@media screen and (max-width:380px) {

    .Testimonials{
        padding: 20px 20px;
    }

    .Testimonial-box{
        padding: 20px;
    }

    .Testimonial-div > div{
        min-width: auto !important;
    }
}